* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* .container {
  position: relative;
} */

.container__logIn {
  border: 3px solid #eee;
  border-radius: 35px;
  background-color: #fff;
  height: 480px;
  width: 400px;
  margin: 65px auto;
}

.container__logIn > h1 {
  font-weight: 700;
  margin: 30px 48px;
  font-size: 40px;
}

.container__logIn > h3 {
  margin: 20px 48px;
}

#email {
  display: block;
  width: 300px;
  height: 50px;
  margin: 35px auto;
  border-radius: 13px;
  border: 3px solid #eee;
  padding: 5px 15px;
}
::placeholder {
  text-rendering: auto;
  font: var(--fa-font-solid);
}

#password {
  display: block;
  width: 300px;
  height: 50px;
  margin: 35px auto;
  border-radius: 13px;
  border: 3px solid #eee;
  padding: 5px 15px;
}

.button {
  display: block;
  width: 300px;
  height: 50px;
  margin: 35px auto;
  border-radius: 17px;
  background-color: #3443eb;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

a {
  margin: 20px 52px;
  text-decoration: none;
  color: #000;
}