* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* .container {
  position: relative;
} */

.container__logIn {
  border: 2px solid #eee;
  border-radius: 35px;
  background-color: #fff;
  height: 500px;
  width: 400px;
  margin: 65px auto;
}